@page
@model RegisterModel

@{
    ViewData["Title"] = "Registro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LW Construções :: Registro</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">
        <div class="text-center mb-4">
            <h1 class="display-4 my-3">LW Construções</h1>
            <p class="h5">Criar uma Nova Conta</p>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-label-group">

            <input asp-for="Input.Email" class="form-control" />
            <label asp-for="Input.Email"></label>
        </div>

        <div class="form-label-group">
            <input asp-for="Input.Password" class="form-control" />
            <label asp-for="Input.Password"></label>
        </div>

        <div class="form-label-group">
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <label asp-for="Input.ConfirmPassword"></label>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <p class="mt-5 mb-3 text-muted text-center">Copyright &copy; @DateTime.Now.Year LW Construções</p>
        <partial name="_ValidationScriptsPartial" />
    </form>
</body>

</html>